/* this is where any custom css will go */
*{
    font-family: 'Roboto Condensed', sans-serif;
}
body {
    background-color: black !important;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:whitesmoke !important;

}
img {
    height:400px;
    width: 200px;

}
/* .header {
    background-image: url('./assets/image.png');
    background-repeat: no-repeat;
    display:flex;
    flex-direction: row;
    justify-content: center;
    height:300px;
    background-size: cover;

}
.header h1 {
    color:black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
} */
.text {
    display:flex;
    flex-direction:row;
    justify-content:center;
    
}

.container{
    display: flex;
}

.left {
    justify-content: left;

}

.right {
    justify-content: right;
    flex-direction: column;

}

.justify-between {
    display: flex;
    justify-content: space-between;
    width: auto;
}
